.navigationContainer {
  padding: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  column-gap: 10vw;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
}

.red {
  color: red;
}
